.header{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;

    background-color: red;
    width: 100dvw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 50px;
    border-radius: 15px;
}